body {
    margin: 0;
    background: #080a15;
    font-family: Arial, sans-serif;
}

* {
    box-sizing: border-box;
}
main {
    flex: 1;
}
html {
    scroll-behavior: smooth;
}
section {
    scroll-margin-top: 80px;
}
